body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #363636;
    color: white;
    padding: 20px;
    margin: 0;
}

.container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.button-group {
    margin: 20px 0;
}

button {
    background-color: #363636;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.file-info {
    margin-top: 10px;
    color: #555;
}

.hidden {
    display: none;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #363636;
    transition: width 0.3s;
}

#error-messages {
    color: red;
    margin-bottom: 20px;
}
